PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=tmdb_saas
DB_USER=root
DB_PASS=password

SESSION_SECRET=supersecretchange

TMDB_API_KEY=YOUR_TMDB_API_KEY_OPTIONAL
PANEL_BASE_URL=http://localhost:3000
